<?xml version="1.0"?>
<!-- URDF for a Universal Robots arm simulated with mujoco_ros2_control.
     The arm itself is ur_arm.urdf.xacro, shared with ur_multi.urdf.xacro. -->
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="$(arg name)">

    <!-- ============================ Arguments ============================ -->
    <xacro:arg name="name" default="ur"/>
    <!-- ur3, ur5, ur10, ur3e, ur5e, ur7e, ur10e, ur12e, ur16e, ur20, ur30, ... -->
    <xacro:arg name="ur_type" default="ur5e"/>
    <xacro:arg name="tf_prefix" default=""/>

    <!-- MuJoCo compiler options -->
    <xacro:arg name="mujoco_model_path" default="/tmp/mujoco"/>
    <xacro:arg name="autolimits" default="true"/>
    <xacro:arg name="balanceinertia" default="true"/>
    <!-- MuJoCo physics options -->
    <xacro:arg name="integrator" default="implicitfast"/>
    <xacro:arg name="gravity" default="0 0 -9.81"/>
    <xacro:arg name="impratio" default="1"/>
    <xacro:arg name="cone" default="elliptic"/>
    <xacro:arg name="solver" default="Newton"/>
    <xacro:arg name="noslip_iterations" default="3"/>
    <xacro:arg name="multiccd" default="disable"/>

    <!-- ros2_control / simulation switches -->
    <xacro:arg name="mujoco" default="true"/>
    <xacro:arg name="mujoco_effort" default="false"/>

    <!-- ============================ Robot ============================ -->
    <link name="world"/>

    <xacro:include filename="$(find mujoco_ros2_control_examples)/urdf/ur/ur_arm.urdf.xacro"/>
    <xacro:ur_arm
        name="$(arg name)"
        ur_type="$(arg ur_type)"
        tf_prefix="$(arg tf_prefix)"
        parent="world"
        xyz="0 0 0"
        rpy="0 0 0"
        mujoco="$(arg mujoco)"
        mujoco_effort="$(arg mujoco_effort)"/>

    <!-- ============================ MuJoCo config ============================ -->
    <xacro:if value="$(arg mujoco)">
        <xacro:include filename="$(find mujoco_ros2_control_examples)/urdf/ur/mujoco_options.urdf.xacro"/>
        <xacro:ur_mujoco_options
            mujoco_model_path="$(arg mujoco_model_path)"
            autolimits="$(arg autolimits)"
            balanceinertia="$(arg balanceinertia)"
            integrator="$(arg integrator)"
            gravity="$(arg gravity)"
            impratio="$(arg impratio)"
            cone="$(arg cone)"
            solver="$(arg solver)"
            noslip_iterations="$(arg noslip_iterations)"
            multiccd="$(arg multiccd)"/>
    </xacro:if>
</robot>
