<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">


    <link name="base_link"/>

    <joint name="base_to_table_base" type="fixed" >
        <parent link="table_base" />
        <origin xyz="0 0 0" rpy="0 0 0" />
        <child link="base_link" />
    </joint>

        <link name="table_base">
            <visual>
                <origin xyz="0 0 0 " rpy="0 0 -1.570796327"/>
                <geometry>
                    <mesh filename="file://$(find panda_mujoco)/meshes/table.stl" scale="0.001 0.001 0.001"/>
                </geometry>
                <material name="MidGrey"/>
            </visual>
            <collision name="collision_table_plate">
                <origin xyz="0 0 0" rpy="0 0 -1.570796327"/>
                <geometry>
                    <mesh filename="file://$(find panda_mujoco)/meshes/table.stl" scale="0.001 0.001 0.001"/>
                </geometry>
            </collision>
            <inertial>
                <origin xyz="0.012661 -0.005935 0.454" rpy="0 0 0"/>
                <mass value="200.0"/>
                <inertia ixx="22.711037" ixy="0" ixz="0" iyy="36.177105" iyz="0" izz="32.632935"/>
            </inertial>
        </link>
</robot>
