<?xml version="1.0"?>
<!-- URDF for a Universal Robots arm simulated with mujoco_ros2_control -->
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="$(arg name)">

    <!-- ============================ Arguments ============================ -->
    <xacro:arg name="name" default="ur"/>
    <!-- ur3, ur5, ur10, ur3e, ur5e, ur7e, ur10e, ur12e, ur16e, ur20, ur30, ... -->
    <xacro:arg name="ur_type" default="ur5e"/>
    <xacro:arg name="tf_prefix" default=""/>

    <!-- MuJoCo compiler options -->
    <xacro:arg name="mujoco_model_path" default="/tmp/mujoco"/>
    <xacro:arg name="autolimits" default="true"/>
    <xacro:arg name="balanceinertia" default="true"/>
    <!-- MuJoCo physics options -->
    <xacro:arg name="integrator" default="implicitfast"/>
    <xacro:arg name="gravity" default="0 0 -9.81"/>
    <xacro:arg name="impratio" default="1"/>
    <xacro:arg name="cone" default="elliptic"/>
    <xacro:arg name="solver" default="Newton"/>
    <xacro:arg name="noslip_iterations" default="3"/>
    <xacro:arg name="multiccd" default="disable"/>

    <!-- ros2_control / simulation switches -->
    <xacro:arg name="mujoco" default="true"/>
    <xacro:arg name="mujoco_effort" default="false"/>

    <xacro:property name="tf_prefix" value="$(arg tf_prefix)"/>

    <!-- ur_description config files for the selected ur_type -->
    <xacro:property name="ur_type" value="$(arg ur_type)"/>
    <xacro:property name="ur_config" value="$(find ur_description)/config/${ur_type}"/>

    <!-- Initial joint configuration (also written as a MuJoCo keyframe via ros2_control). -->
    <xacro:property name="initial_positions"
                    value="${dict(
                        shoulder_pan_joint=0.0,
                        shoulder_lift_joint=-1.5708,
                        elbow_joint=1.5708,
                        wrist_1_joint=-1.5708,
                        wrist_2_joint=-1.5708,
                        wrist_3_joint=0.0)}"/>

    <!-- ============================ Robot ============================ -->
    <link name="world"/>

    <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>
    <xacro:ur_robot
        name="$(arg name)"
        tf_prefix="${tf_prefix}"
        parent="world"
        joint_limits_parameters_file="${ur_config}/joint_limits.yaml"
        kinematics_parameters_file="${ur_config}/default_kinematics.yaml"
        physical_parameters_file="${ur_config}/physical_parameters.yaml"
        visual_parameters_file="${ur_config}/visual_parameters.yaml"
        force_abs_paths="false">
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </xacro:ur_robot>

    <!-- ============================ ros2_control ============================ -->
    <xacro:include filename="$(find ur_mujoco)/urdf/ros2_control.urdf.xacro"/>
    <xacro:ur_ros2_control
        name="UrMujocoSystem"
        tf_prefix="${tf_prefix}"
        mujoco="$(arg mujoco)"
        mujoco_effort="$(arg mujoco_effort)"
        initial_positions="${initial_positions}"/>

    <!-- ============================ MuJoCo config ============================ -->
    <xacro:if value="$(arg mujoco)">
        <mujoco>
            <compiler meshdir="$(arg mujoco_model_path)/meshes"
                      discardvisual="false"
                      autolimits="$(arg autolimits)"
                      balanceinertia="$(arg balanceinertia)"/>
            <option integrator="$(arg integrator)"
                    gravity="$(arg gravity)"
                    impratio="$(arg impratio)"
                    cone="$(arg cone)"
                    solver="$(arg solver)"
                    noslip_iterations="$(arg noslip_iterations)">
                <flag multiccd="$(arg multiccd)"/>
            </option>

            <!-- Position actuators -->
            <xacro:include filename="$(find ur_mujoco)/urdf/mujoco_actuators.urdf.xacro"/>
            <xacro:create_mujoco_actuators tf_prefix="${tf_prefix}"/>

            <!-- Wrist force/torque sensor -->
            <reference name="${tf_prefix}wrist_3_link">
                <site name="${tf_prefix}tcp_ft_site" pos="0 0.1 0" quat="1 0 0 0"/>
            </reference>
            <sensor>
                <force name="${tf_prefix}tcp_ft_force" site="${tf_prefix}tcp_ft_site"/>
                <torque name="${tf_prefix}tcp_ft_torque" site="${tf_prefix}tcp_ft_site"/>
            </sensor>
        </mujoco>
    </xacro:if>
</robot>